.middle-section-wrapper {
  display: flex;
  position: absolute;
}

.content-wrapper {
  position: relative;
  margin-left: 70px;
}

a,
a:hover,
a:active,
a:visited {
  color: blue;
}

.sidebar a {
  color: white;
}