# See https://help.github.com/ignore-files/ for more abouhttps://twitter.com/i/status/1222998967195226112t ignoring files.

# dependencies
node_modules
/.pnp
.pnp.js

# testing
coverage

# logs
logs

# production
build
dist

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.idea/
.vscode/

npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.idea/
