@import "./color.scss";
@import "./font.scss";
@import "./box.scss";

$button---border-radius: $box---border-radius;
$button---font-family: $font-primary-600;
$button---font-size: $font-size-M;
$button--vertical---padding: 15px;
$button--horizontal---padding: $button--vertical---padding * 2;
$button--primary---color: $color-black;
$button--primary---background-color: $color-primary;
$button--primary---border: solid 1px $color-border-dark;
$button--primary--hover---background-color: $color-primary-hover;
$button--primary--disabled---background-color: $color-primary-disabled;
$button--primary--disabled---color: darken($color-primary-disabled, 5%);
