@import "../../components/components.scss";

$flex-component-name: 'flex';

.#{$prefix-components}-#{$flex-component-name} {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: nowrap;

  &.column {
    flex-direction: column;
  }

  &.top  {
    justify-content: flex-start;
  }
  &.bottom {
    justify-content: flex-end;
  }

  &.left{
    align-items: flex-start;
  }

  &.right {
    align-items: flex-end;
  }

  &.multi {
    flex-wrap: wrap;
  }
}


