@import "./nunitoSans.scss";

$font-primary: "NunitoSansRegular";
$font-primary-200: "NunitoSansLight";
$font-primary-600: "NunitoSansBold";
$font-primary-800: "NunitoSansExtraBold";
$font-size-M: 14px;
