@import "../../components/components.scss";
@import "../../theme/default/box.scss";

$box-component-name: "box";

.#{$prefix-components}-#{$box-component-name} {
  background-color: #ffffff;

  &.secondary {
    border-radius: 50%;
  }
}
